#cloud-config

hostname: tf-rhel-01
manage_etc_hosts: true
ssh_pwauth: false
disable_root: true

users:
  - name: admin
    groups: wheel
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true 
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPUww9SEb5i6CS16X8Rj+OgDmPY7PVOhbczUUp5sFRCY kale.jordan10@gmail.com

runcmd:
  - systemctl enable --now qemu-guest-agent
