#cloud-config
manage_etc_hosts: true
ssh_pwauth: false
disable_root: true

users:
  - name: admin
    groups: wheel
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true 
    ssh_authorized_keys:
      - ssh-ed25519 'int string' user@email.com

runcmd:
  - systemctl enable --now qemu-guest-agent
